In [15]:
a = 'kala chasma'
b= len(a)
for i in range(b):    
    print(a[i])

k
a
l
a

c
h
a
s
m
a

In [1]:
a = 'kala chasma'
for i in range(0,11,1):    
    print(a[i])

k
a
l
a

c
h
a
s
m
a

In [5]:
a = 'kala chasma'
for i in range(-1,-12,-1):    
    print(a[i])

a
m
s
a
h
c

a
l
a
k

In [5]:
a = 'kala chasma'
for i in a:    
    print(i)   #simple method but can not reverse

k
a
l
a

c
h
a
s
m
a

In [7]:
a = 'kala chasma'
for i in a:    
    print(a[i])   #simple method but can not reverse

TypeError: string indices must be integers

In [2]:
a = ['manoj',2,5,'sharma',6]
for i in range(0,5,1):
    print(a[i])

manoj
sharma
2
5
6

In [3]:
a = ['manoj','sharma',2,5,6]
for i in range(len(a)):
    print(a[i])

manoj
sharma
2
5
6

In [5]:
a = 'manoj','sharma',2,5,6
for i in range(len(a)):
    print(a[i])

manoj
sharma
2
5
6

In [6]:
a = 'manoj'
for i in range(len(a)):
    print(a[i])

m
a
n
o
j

In [7]:
a = ['manoj']
for i in range(len(a)):
    print(a[i])

manoj

In [8]:
a = 'manoj','sharma'
for i in range(len(a)):
    print(a[i])

manoj
sharma

In [13]:
a = ['manoj','sharma',2,5,6]
for i in a:
    print(a)

['manoj', 'sharma', 2, 5, 6]
['manoj', 'sharma', 2, 5, 6]
['manoj', 'sharma', 2, 5, 6]
['manoj', 'sharma', 2, 5, 6]
['manoj', 'sharma', 2, 5, 6]

In [14]:
a = ['manoj','sharma',2,5,6]
for i in a:
    print(i)

manoj
sharma
2
5
6

In [15]:
a = 'manoj','sharma',2,5,6
for i in a:
    print(a)

('manoj', 'sharma', 2, 5, 6)
('manoj', 'sharma', 2, 5, 6)
('manoj', 'sharma', 2, 5, 6)
('manoj', 'sharma', 2, 5, 6)
('manoj', 'sharma', 2, 5, 6)

In [16]:
a = 'manoj','sharma',2,5,6
for i in a:
    print(i)

manoj
sharma
2
5
6

In [11]:
a = 'manoj'
for i in a:
    print(a)

manoj
manoj
manoj
manoj
manoj

In [12]:
a = 'manoj'
for i in a:
    print(i)

m
a
n
o
j

In [19]:
a = 'kala chasma'
for i in range(a):    
    print(a[i])

TypeError: 'str' object cannot be interpreted as an integer

In [20]:
a = 'kala chasma'
for i in range():    
    print(a[i],end='')

TypeError: range expected at least 1 argument, got 0

In [23]:
a = 'kala chasma'
for i in range(0,20,1):    
    print(a[i])

k
a
l
a

c
h
a
s
m
a

IndexError: string index out of range

In [24]:
a = 'kala chasma'
for i in range(0,5,1):    
    print(a[i],end='')

kala

In [10]:
'spam'+'spamspam'

'spamspamspam'

In [7]:
'spam'*3

'spamspamspam'

In [10]:
'i have eaten'+'99'+'burritos'

'i have eaten99burritos'

In [9]:
h=int(input("height of triangle h:-"))
b=int(input("base of triangle b:-"))

c="area of triangle fromula = 1/2*h*b"
print(c)
print('Ans',1/2*h*b)

height of triangle h:-20
base of triangle b:-10
area of triangle fromula = 1/2*h*b
Ans 100.0

In [48]:
#conditionals and loop
#and or statement

In [15]:
a= int(input('enter the first value:-'))
b= int(input('enter the secomd value:-'))
if a == 10 and b == 20 :
    print("this is a valid statement")
else: 
    print('this is not a valid')

enter the first value:-10
enter the secomd value:-20
this is a valid statement

In [8]:
a == 10 and b == 20

True

In [9]:
a == 10

True

In [10]:
a == 10 and b >20

False

In [16]:
a = 10
b = 20

if a > 10 or  b > 20 :
    print("this is a valid statement")
elif a == 10 and b<20 :
    print("this statement is valid inside elif")
else:
    print("condition is not valid")

condition is not valid

In [33]:
c= input("enter the first name:-")
d= input("enter the last name:-")
print(c + d)

enter the first name:-manoj
enter the last name:-sharma
manojsharma

In [3]:
i = input("enter the name:-")
if i == "manoj sharma":
    print("correct name")
elif i == "sonu":
    print("this is not my name")
else :
    print("you are not user")

enter the name:-monu
you are not user

In [41]:
a = input("enter first name:-")
b = input("enter last name:-")
if a== "manoj" and b == "sharma":
    print("correct name")
else:
    print("not correct user")

enter first name:-manoj
enter last name:-sharma
correct name

In [42]:
#while loop

In [4]:
initial_speed = 0
final_speed = 100
count = 1
while initial_speed < final_speed :
    print("this is my speed")
    count = count + 1
    if count == 5:
        break

this is my speed
this is my speed
this is my speed
this is my speed

In [28]:
a = 1
while a<=4:
    print('this is my speed')
    a = a+1

this is my speed
this is my speed
this is my speed
this is my speed

In [7]:
speed = 1
while speed<10:
    print("this is my speed")
    speed = speed + 1
    if speed == 5:
        break

this is my speed
this is my speed
this is my speed
this is my speed

In [10]:
speed = 5
while speed<10:
    print("this is my speed")
    speed = speed + 1
    if speed == 3:
        break

this is my speed
this is my speed
this is my speed
this is my speed
this is my speed

In [9]:
speed = 1
while speed<10:
    print("this is my speed")
    speed = speed + 1

this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed

In [67]:
i= 1
j= 5
while i < j:
    print(i)
    i= i+1

1
2
3
4

In [31]:
notes = 5
i = 1
while i < notes:
    i += 1 
    print('available')
else :
    print("no 10 rs notes are available")

available
available
available
available
no 10 rs notes are available

In [1]:
#using while loop extract the value from tuple and show the index value

In [1]:
t = (3,4,5,6,7,8,9)

In [2]:
a = 0
while a<len(t):
    if t[a]== 3 or t[a]==7:
        print(t[a],a)
    a = a + 1

3 0
7 4

In [18]:
a = -1
while a>-len(t):
    if t[a]== 6 or t[a]==7:
        print('index of', t[a], 'is' , a)
    a = a - 1

index of 7 is -3
index of 6 is -4

In [9]:
t = (3,4,5,6,7,8,9)
a = -1
while a >-len(t):
    print(t[a])
    a = a - 1

9
8
7
6
5
4

In [7]:
t = (3,4,5,6,7,8,9)
a = -1
while a >-len(t)-1:
    print(t[a])
    a = a - 1

9
8
7
6
5
4
3

In [5]:
t = (3,4,5,6,7,8,9)
a = -1
while a >-len(t)-1:
    print(t[a],a)
    a = a - 1

9 -1
8 -2
7 -3
6 -4
5 -5
4 -6
3 -7

In [24]:
s= "sudh"

In [72]:
s[2]

'd'

In [74]:
s[20]

IndexError: string index out of range

In [75]:
s="my name is sudhanshu"

In [76]:
s[3:10]

'name is'

In [77]:
s[3::]

'name is sudhanshu'

In [78]:
s[3:20:3]

'nesuah'

In [81]:
s[-1::]

'u'

In [82]:
s[-1::-1]

'uhsnahdus si eman ym'

In [91]:
s[::-1]

'uhsnahdus si eman ym'

In [92]:
s[2:-6]

' name is sud'

In [93]:
s="sudh"

In [94]:
s[0]

's'

In [95]:
s[-4]

's'

In [13]:
L = "manoj sharma"

In [104]:
L[0]

'm'

In [105]:
L[2:-6]

'noj '

In [15]:
for a in L :
    print(a)

m
a
n
o
j

s
h
a
r
m
a

In [111]:
for a in L :
    if a=='m':
        print("this is m letter")
        print(a)

this is m letter
m
this is m letter
m

In [113]:
a="manoj"

In [115]:
for b in a:
    print(b)
else:
    print("correct")

m
a
n
o
j
correct

In [8]:
s='my name is sudhanshu'

In [9]:
for i in s :
    print(i)
else:
    if i == 'u':
        print("last character was u")
        print("this is else condition")

m
y

n
a
m
e

i
s

s
u
d
h
a
n
s
h
u
last character was u
this is else condition

In [26]:
for i in s :
    if i == 'u':        
        print("this is u")             
    else:
        print(i)

m
y

n
a
m
e

i
s

s
this is u
d
h
a
n
s
h
this is u

In [29]:
s

'my name is sudhanshu'

In [36]:
for i in s :
    if i == 'n':
        break
    print(i)
else:
    if i == 'u':
        print("last character was u")
        print("this is else condition")

m
y

In [37]:
for i in s :
    if i == 'n':
        continue
    print(i)
else:
    if i == 'u':
        print("last character was u")
        print("this is else condition")

m
y

a
m
e

i
s

s
u
d
h
a
s
h
u
last character was u
this is else condition

In [2]:
s='ineuron'
ss=''
for i in range(len(s)):
    if s[i] == 'n':
        continue

In [132]:
ss

'ieuro'

In [133]:
len(s)

7

In [134]:
a="manoj"

In [135]:
len(a)

5

In [11]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        
        print("+ ", end=" ")   #end="" (`use for space and stop cursor to go in next line )
    print("\r")         #\r is use for what the value come after this it will go into next line

+
+  +
+  +  +
+  +  +  +
+  +  +  +  +
+  +  +  +  +  +
+  +  +  +  +  +  +

In [16]:
for a in range(7,0,-1):
    for b in range(1,a+1):
        print('+', end = '  ')
    print()

+  +  +  +  +  +  +
+  +  +  +  +  +
+  +  +  +  +
+  +  +  +
+  +  +
+  +
+

In [10]:
print("ma\rnoj")  #\r

noj

In [7]:
print("ma\nnoj")  #\n,  prior and after value of it will be split and give result in different lines

ma
noj

In [5]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("$ ", end="    ")
    print("\r")

$
$     $
$     $     $
$     $     $     $
$     $     $     $     $
$     $     $     $     $     $
$     $     $     $     $     $     $

In [6]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("$ ", end="    ")
    print()

$
$     $
$     $     $
$     $     $     $
$     $     $     $     $
$     $     $     $     $     $
$     $     $     $     $     $     $

In [39]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("$ ", end="    ")
    print("\n")

$

$     $

$     $     $

$     $     $     $

$     $     $     $     $

$     $     $     $     $     $

$     $     $     $     $     $     $

In [17]:
n= int(input('enter number of raw required:'))

for i in range(n,0,-1):
    for j in range(0,n-i):
        print('', end='')     
    for j in range(2*i-1):
        print('*',end='')
    print()

enter number of raw required:7
*************
***********
*********
*******
*****
***
*

In [25]:
a=6
b=2*a-2
for i in range(a,-1,-1):
    for j in range(b,-1,-1):
        print(end=" ")
    b=b+1
    for j in range(0,i+1):
        print("*",end=" ")
    print(" ")

           * * * * * * *
            * * * * * *
             * * * * *
              * * * *
               * * *
                * *
                 *

In [23]:
n =9
i=0
while i < n :
    print(' '*(n-i), '* '*(i))
    i +=1

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *

In [25]:
k = 1
i = 1
while i<=5:
    b = 1
    while b<=5-i:
        print(' ',end='')
        b=b+1
    j=1
    while j<=k:
        print('*',end='')
        j=j+1
    k=k+2
    print()
    i=i+1

    *
   ***
  *****
 *******
*********

In [38]:
n =9
i=0
while i < n :
    print(' '*(n-i), '* '*(n))
    i +=1

          * * * * * * * * *
         * * * * * * * * *
        * * * * * * * * *
       * * * * * * * * *
      * * * * * * * * *
     * * * * * * * * *
    * * * * * * * * *
   * * * * * * * * *
  * * * * * * * * *

In [1]:
n =9
i=0
while i < n :
    print(' '*(n), '* '*(n))
    i +=1

          * * * * * * * * *
          * * * * * * * * *
          * * * * * * * * *
          * * * * * * * * *
          * * * * * * * * *
          * * * * * * * * *
          * * * * * * * * *
          * * * * * * * * *
          * * * * * * * * *

In [2]:
for a in range(1,6):
    for b in range(0,5):
        print('*',end='  ')
    print()

*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

In [5]:
n = 3
for i in range(n):
    for j in range(i,n-1):
        print(" "*len("sudh"),end=" ")    #not clear using len("sudh") here
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i):
        print("sudh",end=" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [6]:
raw = int(input('enter the how many raw pattern want:-'))
print()
for i in range(raw):
    print('max '*(i+1))

enter the how many raw pattern want:-7

max
max max
max max max
max max max max
max max max max max
max max max max max max
max max max max max max max

In [16]:
for i in range(6):
    if i <=3:
        n = i
    else:
        n = 6 - 1
    print(("ineuron "*n).center(30,' '))

           ineuron
       ineuron ineuron
   ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron

In [17]:
for i in range(6):
    if i <= 3:
        n = i
    else:
        n = 6 - i
    print(("ineuron "*n).center(30,' '))

           ineuron
       ineuron ineuron
   ineuron ineuron ineuron
       ineuron ineuron
           ineuron

In [18]:
i = 9 
n = 1 
while n <= i : 
    print('* '*n)
    n = n+1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [19]:
x=0
while x<8:
    content = ""
    y=0
    while y<x:
        z=0
        sum=0
        while z<y:
            sum+=6-z 
            z+=1
        if (x + 64 + sum) <= (64 + 26):
            content += " " + chr(x + 64 + sum)
        y+=1
    print(content)
    x+=1

 A
 B H
 C I N
 D J O S
 E K P T W
 F L Q U X Z
 G M R V Y

In [20]:
i=0
while i<7:
    l=7
    k=i+65  
    for j in range(i+1):
        if chr(k).isalpha():
         print(chr(k),end=" ") 
         l-=1
         k+=l     
    i += 1
    print()

A
B H
C I N
D J O S
E K P T W
F L Q U X Z
G M R V Y

In [6]:
len("sudh")

4

In [43]:
#list

In [44]:
L=["sudh",6565,"kf6546"]

In [46]:
type(L)

list

In [53]:
L[0]

'sudh'

In [54]:
L[1]

6565

In [21]:
a = ["manoj",5645,True,45+8j,[2,2,3,"lskdf"],2.5]
len(a)

6

In [67]:
print(a)

['manoj', 5645, True, (45+8j), [2, 2, 3, 'lskdf'], 2.5]

In [68]:
type(a)

list

In [69]:
for b in a:
    print(b)

manoj
5645
True
(45+8j)
[2, 2, 3, 'lskdf']
2.5

In [19]:
for b in a:
    print(type(b))

<class 'str'>

In [22]:
a

['manoj', 5645, True, (45+8j), [2, 2, 3, 'lskdf'], 2.5]

In [78]:
for b in a:            #add the int value list inside the list
    if type(b)==list:
        n=0
        for c in b:
            if type(c)==int:
                n=n+c
        print(n)  
        print(type(c))

7
<class 'str'>

In [79]:
a[0]

'manoj'

In [80]:
a[5]

2.5

In [81]:
a[2:3]

[True]

In [82]:
a[10:3]

[]

In [84]:
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [27]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [26]:
#q3 : Try to extract all the list entity
for i in l :
    if type(i) == list :
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [27]:
#q4 : Try to extract all the dict enteties
for i in l :
    if type(i) == dict :
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [28]:
#q5 : Try to extract all the tuples entities
for i in l :
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [ ]:
#q6 extract all the numerical data it may be a part of dict key and values

In [30]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int :
                l1.append(j)
    if type(i) == dict :
        for k in i.items() : 
            for g in k :
                if type(g) == int :
                    l1.append(g)

In [31]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [7]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [25]:
for i in l:
    if type(i)==dict:
        print(i.items())

dict_items([('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)])

In [31]:
#q7 : Try to give summation of all the numeric data 
sum(l1)

180

In [32]:
#q8 : Try to filter out all the odd values out of all numeric data which is a part of a list 
for i in l1 :
    if i % 2 == 0  :
        pass
    else :
        print(i,end=' , ')

1 , 3 , 3 , 5 , 3 , 5 , 7 , 45 , 5 , 23 , 3 , 7 ,

In [33]:
#q8 : Try to filter out all the odd values out of all numeric data which is a part of a list 
for i in l1 :
    if i % 2 == 1  :
        print(i,end=' , ')

1 , 3 , 3 , 5 , 3 , 5 , 7 , 45 , 5 , 23 , 3 , 7 ,

In [58]:
#q9 : Try to extract "ineruon" out of this data
l2 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if j == 'ineuron' :
                l2.append(j)
    if type(i) == dict :
        for k in i.items() : 
            for g in k :
                if g == 'ineuron' :
                    l2.append(g)

In [60]:
l2

['ineuron', 'ineuron']

In [62]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [73]:
#q10 : Try to find out a number of occurances of all the data
l3 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int or type(j) == str:
                l3.append(j)
    if type(i) == dict :
        for k in i.items() : 
            for g in k :
                if type(g) == int  or type(g) == str:
                    l3.append(g)
                    

for i in set(l3) : 
    print(i , ":" ,l3.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
sudh : 1
k2 : 1
ineuron : 2
8 : 1
45 : 1
data science  : 1
kumar : 1
k1 : 1
23 : 1
k3 : 1

In [74]:
#q11 : Try to find out number of keys in dict element

for i in l:
    if type(i) == dict:
        print(len(i))

5

In [80]:
#q12 : Try to filter out all the string data 

for i in l1 :
    if type(i) == str:
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [81]:
#q13 : Try to Find  out alphanum in data

for i in l1 :
    if type(i) == str :
        if i.isalnum() : 
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [84]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [85]:
#q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

for i in l :
    m = 1
    if type(i) == list  or type(i)  == tuple or type(i) == set :
        for j in i :
            if type(j) == int :
                m = m * j
        print(type(i) , m)
    if type(i) == dict:
        for k in i.items():
            for n in k :
                if type(n) == int : 
                    m = m * n
        print(type(i) , m)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1008
<class 'list'> 1