In [1]:
a = [1,2,3,"manoj",23.4,"sharma",True,[3,5,5]]

In [3]:
for i in a:
    print(i)

1
2
3
manoj
23.4
sharma
True
[3, 5, 5]

In [25]:
a

[1, 2, 3, 'manoj', 23.4, 'sharma', True, [3, 5, 5]]

In [26]:
for i in a:
    if i=="manoj":
         print(i)

manoj

In [27]:
a

[1, 2, 3, 'manoj', 23.4, 'sharma', True, [3, 5, 5]]

In [28]:
for i in a:
    if type(i)==int:
         print(i)

1
2
3

In [29]:
a

[1, 2, 3, 'manoj', 23.4, 'sharma', True, [3, 5, 5]]

In [30]:
for i in a:
    if type(i)==str:
        print(i)

manoj
sharma

In [31]:
a

[1, 2, 3, 'manoj', 23.4, 'sharma', True, [3, 5, 5]]

In [32]:
for i in a:
    if type(i)==int:
        print(i+1)

2
3
4

In [33]:
a

[1, 2, 3, 'manoj', 23.4, 'sharma', True, [3, 5, 5]]

In [11]:
for i in a:
    if type(i)==int:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))
    elif type(i)==float:
        print(i+float(0.6))
    elif type(i)==bool:
        print(False)
    elif type(i)==list:
        print(i)

2
3
4
manoj1
24.0
sharma1
False
[3, 5, 5]

In [12]:
for i in a:
    if type(i)==int:
        print(i+1)
    elif type(i)==str:
        print(i+'1')
    elif type(i)==float:
        print(i+0.6)
    elif type(i)==bool:
        print(False)
    elif type(i)==list:
        print(i)

2
3
4
manoj1
24.0
sharma1
False
[3, 5, 5]

In [35]:
a

[1, 2, 3, 'manoj', 23.4, 'sharma', True, [3, 5, 5]]

In [36]:
for i in a: 
    if type(i)==list:
        for b in i:
            print(b+1)

4
6
6

In [37]:
a

[1, 2, 3, 'manoj', 23.4, 'sharma', True, [3, 5, 5]]

In [38]:
for i in a:
    if type(i)==int or type(i)== float or type(i)== bool:
        print(i+1)

2
3
4
24.4
2

In [39]:
b = [3, 5, 5]

In [40]:
for i in b:
    print(i)

3
5
5

In [39]:
a

[1, 2, 3, 'manoj', 23.4, 'sharma', True, [3, 5, 5]]

In [40]:
l = []
for i in a:
    if type(i)==str:
        l.append(i)

In [41]:
l

['manoj', 'sharma']

In [42]:
m = []
for i in a:
    if type(i)==int:
        m.append(i)

In [43]:
m

[1, 2, 3]

In [44]:
l = []
for i in a:
    if type(i)==int:
        l = l + [i]

In [45]:
l

[1, 2, 3]

In [71]:
a

[1, 2, 3, 'manoj', 23.4, 'sharma', True, [3, 5, 5]]

In [68]:
l = []
for i in a:
    if type(i)==int or type(i)==list:
         l.append(i)

In [69]:
l

[1, 2, 3, [3, 5, 5]]

In [79]:
#write a python program to display calander

In [2]:
import calendar
a = int(input("type 1 for monthly and 2 for year calendar:-"))
if a==1:
    y = int(input('enter the year:-'))
    m = int(input('enter the month:-'))
    print(calendar.month(y,m))
elif a==2:
    y==int(input('enter the year:-'))
    for m in range(1,13):
        print(calendar.month(y,m))

type 1 for monthly and 2 for year calendar:-1
enter the year:-2023
enter the month:-3
     March 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [2]:
print(calendar.month(2023,3))

     March 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [3]:
for i in range(1,13):
    print(calendar.month(2023,i))

    January 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

   February 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28

     March 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

     April 2023
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

      May 2023
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

     June 2023
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

     July 2023
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

    August 2023
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

   September 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

    October 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

   November 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

   December 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31