In [1]:
#set use to remove duplicate value
#set dont work on index so first convert into list and tuple then can work
#set is immutable

In [1]:
t = ()

In [2]:
type(t)   #immutable

tuple

In [3]:
l = []

In [4]:
type(l)     #mutable

list

In [5]:
a = {}

In [6]:
type(a)

dict

In [9]:
a = ("manoj",234,24,True)

In [10]:
type(a)

tuple

In [11]:
a[0]="sharma"  #immutable

TypeError: 'tuple' object does not support item assignment

In [12]:
a

('manoj', 234, 24, True)

In [13]:
a.append("sharma")

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
a

('manoj', 234, 24, True)

In [10]:
a1= (23,"sharma",514)

In [11]:
a+a1

('manoj', 234, 24, True, 23, 'sharma', 514)

In [10]:
t1 =(234,34,'sudh',3.45,True)

In [13]:
34 in t1

True

In [14]:
"manoj" in t1

False

In [15]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [16]:
t3=(23,234,45,454,54)

In [17]:
max(t3)

454

In [18]:
t4 = ("lajf","Fld","slf")

In [19]:
max(t4)

'slf'

In [20]:
t1

(234, 34, 'sudh', 3.45, True)

In [21]:
t1.index(34)

1

In [22]:
t3

(23, 234, 45, 454, 54)

In [23]:
min(t3)

23

In [24]:
min(t4)

'Fld'

In [14]:
t1 = (234,34,'sudh',3.45,34,34,34,True)

In [15]:
t5=(90,45)

In [16]:
t1+t5

(234, 34, 'sudh', 3.45, 34, 34, 34, True, 90, 45)

In [17]:
t1

(234, 34, 'sudh', 3.45, 34, 34, 34, True)

t1.insert(2,212121)

In [18]:
t1

(234, 34, 'sudh', 3.45, 34, 34, 34, True)

In [30]:
tt=list(t1)

In [31]:
t1

(234, 34, 'sudh', 3.45, 34, 34, 34, True)

In [32]:
t6=56

l5=list(t1)

In [33]:
l5

NameError: name 'l5' is not defined

In [34]:
l5.insert(3,t6)

NameError: name 'l5' is not defined

In [3]:
t = ((3,4,5,6,7),("sdfsd",45,45),("454",54),45,454,67,[4,5,67,7])

In [36]:
type(t)

tuple

In [37]:
t[6][1:4]

[5, 67, 7]

In [38]:
t[1]

('sdfsd', 45, 45)

In [39]:
t[1][0]

'sdfsd'

In [40]:
for i in t:
    print(i)

(3, 4, 5, 6, 7)
('sdfsd', 45, 45)
('454', 54)
45
454
67
[4, 5, 67, 7]

In [4]:
t

((3, 4, 5, 6, 7), ('sdfsd', 45, 45), ('454', 54), 45, 454, 67, [4, 5, 67, 7])

In [5]:
for i in t:
    if type(i)==tuple:
        print(i[0])

3
sdfsd
454

In [13]:
a = (10,5,2,3,4,8)
for i in range(len(a)):     #retriete the tuple value with index
    print(i,a[i])

0 10
1 5
2 2
3 3
4 4
5 8

In [14]:
a = "manoj"
for i in range(len(a)):    
    print(i,a[i])

0 m
1 a
2 n
3 o
4 j

In [17]:
a = "manoj"
for i in range(len(a)-1`,-1,-1):        #in reverse direction
    print(i,a[i])

4 j
3 o
2 n
1 a
0 m

In [43]:
t1

(234, 34, 'sudh', 3.45, 34, 34, 34, True)

In [44]:
t2=(234,54,565)

In [45]:
if len(t1)==len(t2):
    print("its same")
else:
    print("not same")

not same

In [7]:
t = (234,34,'sudh',3.45,34,34,34,True,"kumar")

In [8]:
i = eval(input("take a user input:-"))
   
if i in t:
    print("this is your value")
else:
    print("this is not your value")

take a user input:-34
this is your value

In [14]:
t1

(234, 34, 'sudh', 3.45, True)

In [156]:
t1

(234, 34, 'sudh', 3.45, 34, 34, 34, True)

In [157]:
t2=(234,54,565)

In [158]:
t2

(234, 54, 565)

In [159]:
x= set()

In [160]:
type(x)

set

In [6]:
l = [34,45,45,45,45,67,34,56,78,"sudh","sudh","kumar"]

In [7]:
set(l)     #set give only distinct value or remove the duplicate

{34, 45, 56, 67, 78, 'kumar', 'sudh'}

In [14]:
m = [34,45,45,45,45,67,34,56,78,"sudh","Sudh","kumar","KUMAR"]

In [15]:
s=set(m)   #set is case cencitive

In [16]:
s

{34, 45, 56, 67, 78, 'KUMAR', 'Sudh', 'kumar', 'sudh'}

In [166]:
type(s)

list

In [17]:
for i in s:
    print(i)

34
67
KUMAR
45
78
sudh
Sudh
kumar
56

In [169]:
34 in s

False

In [18]:
s

{34, 45, 56, 67, 78, 'KUMAR', 'Sudh', 'kumar', 'sudh'}

In [171]:
s = {34, 45, 56, 67, 78,454545,352545, 'KUMAR', 'Sudhsudh', 'kumar', 'sudh'}

In [21]:
l = set(s)     #set dont give value in order

In [22]:
l

{34, 45, 56, 67, 78, 'KUMAR', 'Sudh', 'kumar', 'sudh'}

In [23]:
l[0]

TypeError: 'set' object is not subscriptable

In [175]:
s

{34, 352545, 45, 454545, 56, 67, 78, 'KUMAR', 'Sudhsudh', 'kumar', 'sudh'}

In [176]:
l = (23,21,32,21,"manoj","sharma","manoj","sharma",21,23)

In [177]:
type(l)

tuple

In [181]:
s = set(l)

In [182]:
s

{21, 23, 32, 'manoj', 'sharma'}

In [183]:
type(s)

set

In [184]:
s

{21, 23, 32, 'manoj', 'sharma'}

In [185]:
s.add("monu")

In [186]:
s

{21, 23, 32, 'manoj', 'monu', 'sharma'}

In [187]:
s.add(100)

In [188]:
s

{100, 21, 23, 32, 'manoj', 'monu', 'sharma'}

In [189]:
s.add([21,32])  # in set can not add list

TypeError: unhashable type: 'list'

In [24]:
s

{34, 45, 56, 67, 78, 'KUMAR', 'Sudh', 'kumar', 'sudh'}

In [25]:
s.remove("manoj")

KeyError: 'manoj'

In [26]:
s

{34, 45, 56, 67, 78, 'KUMAR', 'Sudh', 'kumar', 'sudh'}

In [195]:
100 in s

True

In [196]:
s.clear()

In [197]:
s

set()

In [31]:
s.add("manoj")

In [32]:
s.add(234)

In [33]:
s.add(345)

In [37]:
s.add("wer")

In [39]:
s.append('man')

AttributeError: 'set' object has no attribute 'append'

In [41]:
s.insert(1,100)

AttributeError: 'set' object has no attribute 'insert'

In [42]:
s.extend('df')

AttributeError: 'set' object has no attribute 'extend'

In [43]:
s

{234,
 34,
 345,
 45,
 56,
 67,
 78,
 'KUMAR',
 'Sudh',
 'kumar',
 'manoj',
 'sudh',
 'wer'}

In [36]:
s1 = set(l)

In [208]:
l = [323,654,65,125,466]

In [209]:
type(l)

list

In [210]:
s1

{21, 23, 32, 'manoj', 'sharma'}

In [211]:
type(s1)

set

In [212]:
s + s1   #set not allow to add sets

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [213]:
s

{234, 345, 'manoj', 'wer'}

In [214]:
s*4     #set not allow to multiplies

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [215]:
s

{234, 345, 'manoj', 'wer'}

In [216]:
l = list(s)

In [217]:
l*4

[345,
 234,
 'manoj',
 'wer',
 345,
 234,
 'manoj',
 'wer',
 345,
 234,
 'manoj',
 'wer',
 345,
 234,
 'manoj',
 'wer']

In [218]:
l.append(5)

In [219]:
l

[345, 234, 'manoj', 'wer', 5]

In [220]:
s

{234, 345, 'manoj', 'wer'}

In [221]:
m = tuple(s)

In [46]:
m*2

[34,
 45,
 45,
 45,
 45,
 67,
 34,
 56,
 78,
 'sudh',
 'Sudh',
 'kumar',
 'KUMAR',
 34,
 45,
 45,
 45,
 45,
 67,
 34,
 56,
 78,
 'sudh',
 'Sudh',
 'kumar',
 'KUMAR']

In [223]:
s

{234, 345, 'manoj', 'wer'}

In [224]:
s[0]  #set dont work on index

TypeError: 'set' object is not subscriptable

In [225]:
# dictionary

In [226]:
x = {}

In [227]:
type(x)

dict

In [228]:
x1 = {34,56}

In [229]:
type(x1)

set

In [230]:
x1 = {34:56}

In [231]:
type(x1)

dict

In [1]:
x = {"name":"manoj","age":33}  #work as key:value

In [2]:
type(x)

dict

In [3]:
x1 = {"name":"manoj","age":33,"name":"monu","age":35,"name":"sharma"}

In [4]:
x1   #execute key only and give last one if multiples same keys are there

{'name': 'sharma', 'age': 35}

In [6]:
x1.keys()

dict_keys(['name', 'age'])

In [7]:
x1.values()

dict_values(['sharma', 35])

In [236]:
#variable not allow as key use alway str
#variable wise not allowed duplicate
#value can be duplicateara
#can add list, tuple
#special character not allow
#can not add,multiple of dictionary
#muttable

In [47]:
x2 = {"name":"manoj","age":33,"name":[2,21],"age":(32,223,"manjoi"),"name":"sharma"}

In [48]:
x2["age"][2]

'manjoi'

In [4]:
x2 = {"name":"manoj","hello":{"k4":[23,45,98]},"age":33,"name":[2,21],"age":(32,223,"manjoi"),"name":"sharma"}

In [5]:
x2

{'name': 'sharma', 'hello': {'k4': [23, 45, 98]}, 'age': (32, 223, 'manjoi')}

In [6]:
x2["hello"]["k4"][2]

98

In [7]:
x2["hello"]

{'k4': [23, 45, 98]}

In [8]:
x2["hello"]["k4"]

[23, 45, 98]

In [9]:
x2["hello"]["k4"][0]

23

In [51]:
x2

{'name': 'sharma', 'age': (32, 223, 'manjoi')}

In [52]:
x3 ={656:"jal",32:"muno"}

In [53]:
x2+x3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [35]:
x2*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [36]:
x3

{656: 'jal', 32: 'muno'}

In [37]:
type(x3)

dict

In [38]:
x3[32]="kanta"
x3["jal"]=200

In [39]:
x3

{656: 'jal', 32: 'kanta', 'jal': 200}

In [40]:
x3

{656: 'jal', 32: 'kanta', 'jal': 200}

In [41]:
x3["jal"]-=150

In [42]:
x3

{656: 'jal', 32: 'kanta', 'jal': 50}

In [43]:
x3.keys()

dict_keys([656, 32, 'jal'])

In [44]:
x3.values()

dict_values(['jal', 'kanta', 50])

In [45]:
x3

{656: 'jal', 32: 'kanta', 'jal': 50}

In [50]:
656 in x3.keys()

True

In [52]:
'jal' in x3

True

In [54]:
'kanta' in x3

False

In [55]:
'kanta' in x3.values()

True

In [49]:
'jal' in x3.keys()

True

In [48]:
32 in x3

True

In [32]:
'jal' in x3.values()

True

In [256]:
'muno' in x3.values()

False

In [98]:
x3

{656: 'jal', 32: 'kanta', 'jal': 50}

In [99]:
for i in x3 :
    print(i)

656
32
jal

In [100]:
for i in x3.values():
    print(i)

jal
kanta
50

In [101]:
x2

{'name': 'sharma', 'hello': {'k4': [23, 45, 98]}, 'age': (32, 223, 'manjoi')}

In [102]:
x2.keys()

dict_keys(['name', 'hello', 'age'])

In [56]:
for i in x2.keys():
    print(i)

name
hello
age

In [59]:
x2

{'name': 'sharma', 'hello': {'k4': [23, 45, 98]}, 'age': (32, 223, 'manjoi')}

In [63]:
x2['name']

'sharma'

In [65]:
x2['hello']

{'k4': [23, 45, 98]}

In [67]:
x2['age']

(32, 223, 'manjoi')

In [68]:
x2

{'name': 'sharma', 'hello': {'k4': [23, 45, 98]}, 'age': (32, 223, 'manjoi')}

In [69]:
for i in x2.keys():
        print(x2[i])

sharma
{'k4': [23, 45, 98]}
(32, 223, 'manjoi')

In [71]:
for i in x2.values():
    print(i)

sharma
{'k4': [23, 45, 98]}
(32, 223, 'manjoi')

In [105]:
x2

{'name': 'sharma', 'hello': {'k4': [23, 45, 98]}, 'age': (32, 223, 'manjoi')}

In [76]:
for i in x2.keys():
        print(type(x2[i]))

<class 'str'>
<class 'dict'>
<class 'tuple'>

In [77]:
for i in x2.values():
    print(type(i))

<class 'str'>
<class 'dict'>
<class 'tuple'>

In [74]:
for i in x2:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>

In [78]:
for i in x2.keys():
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>

In [8]:
x2

NameError: name 'x2' is not defined

In [9]:
x3 = {'man', 'sam', 'ran'}
dict.fromkeys(x3,'manoj')

{'man': 'manoj', 'ran': 'manoj', 'sam': 'manoj'}

In [10]:
x4 = ('man','dan','mam')
dict.fromkeys(x4,'jai')

{'man': 'jai', 'dan': 'jai', 'mam': 'jai'}

In [11]:
x5 = {'a':2,'b':'ja','c':'ya'}
x5.fromkeys(x5,'manoj')

{'a': 'manoj', 'b': 'manoj', 'c': 'manoj'}

In [108]:
x2.items()     #items funciton used to convert the keys and values in tuple

dict_items([('name', 'sharma'), ('hello', {'k4': [23, 45, 98]}), ('age', (32, 223, 'manjoi'))])

In [109]:
for i in x2.items():
    print(i)

('name', 'sharma')
('hello', {'k4': [23, 45, 98]})
('age', (32, 223, 'manjoi'))

In [85]:
for i in x2.items():
    print(i[0])

name
hello
age

In [87]:
for i in x2.items():
    print(i[1])

sharma
{'k4': [23, 45, 98]}
(32, 223, 'manjoi')

In [91]:
x2

{'name': 'sharma', 'hello': {'k4': [23, 45, 98]}, 'age': (32, 223, 'manjoi')}

In [97]:
x2

{'name': 'sharma', 'hello': {'k4': [23, 45, 98]}, 'age': (32, 223, 'manjoi')}

In [98]:
len(x2)      # no. of key value

3

In [103]:
len(x2.keys())

3

In [105]:
len(x2.values())

3

In [57]:
p = input("enter the para:-")     ### Q). take paragraph by using input then convert each word as sting into list then remove duplicate 
s = p.split()                     ###     then each distinct use as a key and give your name as value then try to print all key 
s1 =set(s)                        ###     and then value
d = dict.fromkeys(s1,'manoj')
t = tuple(d.keys())
l = list(d.values())

enter the para:-kob, sob, job, kob, job, sob, job

In [58]:
s

['kob,', 'sob,', 'job,', 'kob,', 'job,', 'sob,', 'job']

In [59]:
s1

{'job', 'job,', 'kob,', 'sob,'}

In [60]:
d

{'sob,': 'manoj', 'job,': 'manoj', 'job': 'manoj', 'kob,': 'manoj'}

In [276]:
t

('kob', 'job', 'sob')

In [277]:
l

['manoj', 'manoj', 'manoj']

In [271]:
a = "manoj k2 sharma monu"

In [264]:
b = list(a)  #convert into list per letter

In [121]:
b

['m',
 'a',
 'n',
 'o',
 'j',
 ' ',
 'k',
 '2',
 ' ',
 's',
 'h',
 'a',
 'r',
 'm',
 'a',
 ' ',
 'm',
 'o',
 'n',
 'u']

In [122]:
a

'manoj k2 sharma monu'

In [123]:
b = a.split()    #convert into list per word

In [124]:
b

['manoj', 'k2', 'sharma', 'monu']

In [125]:
d = dict.fromkeys(b,'ms')

In [126]:
d

{'manoj': 'ms', 'k2': 'ms', 'sharma': 'ms', 'monu': 'ms'}

In [127]:
b

['manoj', 'k2', 'sharma', 'monu']

In [128]:
d = dict.fromkeys(b,'ms')

In [129]:
d

{'manoj': 'ms', 'k2': 'ms', 'sharma': 'ms', 'monu': 'ms'}

In [130]:
e = d.keys()

In [131]:
e

dict_keys(['manoj', 'k2', 'sharma', 'monu'])

In [132]:
e = tuple(d.keys())

In [133]:
e

('manoj', 'k2', 'sharma', 'monu')

In [134]:
e = list(d.keys())

In [135]:
e

['manoj', 'k2', 'sharma', 'monu']

In [136]:
d

{'manoj': 'ms', 'k2': 'ms', 'sharma': 'ms', 'monu': 'ms'}

In [137]:
f = d.values()

In [138]:
f

dict_values(['ms', 'ms', 'ms', 'ms'])

In [139]:
f = tuple(d.values())

In [140]:
f

('ms', 'ms', 'ms', 'ms')

In [141]:
f = list(d.values())

In [142]:
f

['ms', 'ms', 'ms', 'ms']

In [13]:
c = ["a", 1, "b", 2, "c", 3, "d", 4]
l=[]
for i in c:
    if type(i)==int:
        l.append(i)

In [14]:
l

[1, 2, 3, 4]

In [14]:
c = {40:1, "b":2, 100:3, "d":4}
for i in c:
    if type(i)==int:
        print(i,":",c[i])

40 : 1
100 : 3

In [115]:
l = {'ab': 'bc', 'ma':100, 25:'cd',23:23}
print(1,l.keys())
print(2,tuple(l.keys()))
print(3,l.values())
print(4,tuple(l.values()))
print(5,l.items())
print(6,l.keys() ,':',l.values())
print(7,l.fromkeys(l,'sonu'))

1 dict_keys(['ab', 'ma', 25, 23])
2 ('ab', 'ma', 25, 23)
3 dict_values(['bc', 100, 'cd', 23])
4 ('bc', 100, 'cd', 23)
5 dict_items([('ab', 'bc'), ('ma', 100), (25, 'cd'), (23, 23)])
6 dict_keys(['ab', 'ma', 25, 23]) : dict_values(['bc', 100, 'cd', 23])
7 {'ab': 'sonu', 'ma': 'sonu', 25: 'sonu', 23: 'sonu'}

In [132]:
l

{'ab': 'bc', 'ma': 100, 25: 'cd', 23: 23}

In [149]:
for i in l.keys():
    if type(i)==str or int:
        print(i)

ab
ma
25
23

In [150]:
for i in l:
    if type(i)==str or int:
        print(l[i])

bc
100
cd
23

In [155]:
for i in l.keys():
    if type(i)==str or int:
        print(i[0])

a
m

TypeError: 'int' object is not subscriptable

In [156]:
l

{'ab': 'bc', 'ma': 100, 25: 'cd', 23: 23}

In [162]:
for i in l:
    if type(i)== int:
        print(i, ':', l[i])

25 : cd
23 : 23

In [163]:
for i in l:
    if type(i)== str:
        print(i, ':', l[i])

ab : bc
ma : 100

In [118]:
dict.fromkeys('ninini','sonu')

{'n': 'sonu', 'i': 'sonu'}

In [119]:
dict.fromkeys(['ninini'],'sonu')

{'ninini': 'sonu'}

In [120]:
dict.fromkeys('nima','sonu')

{'n': 'sonu', 'i': 'sonu', 'm': 'sonu', 'a': 'sonu'}

In [107]:
a = {"company":"ineuron","course":"full stack data science","year":2021}

In [108]:
for i in a:
    print("key :",i,";","value :",a[i])

key : company ; value : ineuron
key : course ; value : full stack data science
key : year ; value : 2021

In [109]:
for i in a :
    print(a[i])

ineuron
full stack data science
2021

In [110]:
a

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2021}

In [111]:
"course" in a

True

In [112]:
'ineuron' in a

False

In [148]:
for i in a :
    if i == 'year':
        if a[i]>2022:
            print("year is fine")
        else:
            a[i]=2023

In [149]:
a

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2023}

In [114]:
my_dict = {}
for i in range(6):
    my_dict[i] = i*i

In [116]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [152]:
a = {}                # iteration
for i in range(6):    
    a[i] = i*i*i

In [153]:
a

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [154]:
{i:i*i*i for i in range(6)}       #comprehensive

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [127]:
s = 'aaaabbcccd'
for i in s:
    print(i ,':', i.count(i))

a : 1
a : 1
a : 1
a : 1
b : 1
b : 1
c : 1
c : 1
c : 1
d : 1

In [128]:
s = 'aaaabbcccd'
for i in set(s):
    print(i ,':', i.count(i))

b : 1
a : 1
d : 1
c : 1

In [171]:
t = ("manoj", (2,5,6,7),[2,5,8,4], "sharma", {"do":125, 458:12, "man":"brave"})

In [172]:
for i in t:
    if type(i)==tuple or list:
        for j in i:
            if j==2:
                print(j)

2
2

In [139]:
d = {'k1': 'sudh', 'k2': [2,4,5,6], 'k3': (2,3,5,6)}

In [141]:
a = 0
b = list(d.keys())
while a < len(d):
    print(d[b[a]])
    a = a + 1

sudh
[2, 4, 5, 6]
(2, 3, 5, 6)

In [142]:
b

['k1', 'k2', 'k3']

In [143]:
a

3