In [13]:
def test(x,y):
    print(x+y)

In [14]:
test(23,45)

68

In [15]:
test(2,3)

5

In [16]:
test(10,20)

30

In [17]:
type(test(10,20))

30

NoneType

In [18]:
test(10,20) +10

30

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [19]:
def test1(b,m):
    return b * m

In [20]:
test1(5,25)

125

In [21]:
type(test1(5,25))

int

In [22]:
test1(5,25) + 5

130

In [23]:
def test2(m,n,p):
    return m+n-p

In [24]:
test2(2,2,1)

3

In [25]:
def test3(n,m):
    return n*10,m*4,m+n

In [26]:
test3(2,7)

(20, 28, 9)

In [27]:
c,x,v = test3(2,7)

In [28]:
c

20

In [29]:
x

28

In [30]:
v

9

In [31]:
c, x, _ = test3(2,7)     #_ is acting as varable and its place holder

In [32]:
c

20

In [33]:
x

28

In [34]:
_

28

In [35]:
_ , _ , n = test3(2,7)

In [36]:
_

28

In [37]:
_

28

In [38]:
n

9

In [39]:
def test4():
    print("this is my first function")

In [40]:
m = test4()

this is my first function

In [41]:
m + "klajfla"     #will not execute

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [42]:
def test5():
    return "this is my first clss"

In [43]:
n  = test5()

In [44]:
n

'this is my first clss'

In [45]:
n + "kdjfj"

'this is my first clsskdjfj'

In [46]:
def test6(n):
    return n * 2

In [47]:
test6([5])

[5, 5]

In [48]:
test6([3,4,5,6])

[3, 4, 5, 6, 3, 4, 5, 6]

In [49]:
def test7(n):
    return n,n*7

In [50]:
test7([2,5])

([2, 5], [2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5])

In [51]:
b = test7([2,5])

In [52]:
b

([2, 5], [2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5])

In [53]:
b[0]

[2, 5]

In [54]:
b[1]

[2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5]

In [55]:
def test8(n , m = 90):
    return n + m

In [56]:
test8(60)

150

In [57]:
def test9(x = True, y = False):
    return x + y

In [58]:
test9()

1

In [59]:
test9(False)

0

In [60]:
test9(False,8)

8

In [61]:
def travel(bike = True, car = False):
    plan_travel = bike or car
    return bike , car , plan_travel

In [62]:
travel()

(True, False, True)

In [63]:
travel(car  = True)

(True, True, True)

In [64]:
def test10(*args):  # args creat multiple argument without multiple variable or 
    return args     # concordination multiple list, tuple etc in one function

In [65]:
test10("sudhanshu", "kumar",34,[34,4,54,25] , 30+5 , "manooj"+"sharma" , 3*9 , 9/3,)

('sudhanshu', 'kumar', 34, [34, 4, 54, 25], 35, 'manoojsharma', 27, 3.0)

In [66]:
def test11(a ,b ,c):
    return a+b+c

In [67]:
test11([1,2,3],[3,2,2],[5,6,9])

[1, 2, 3, 3, 2, 2, 5, 6, 9]

In [68]:
def test12(*args):
    l = []
    for i in args:
        l = l + i
    return l

In [69]:
test12([1,2,3],[3,2,2],[5,6,9])

[1, 2, 3, 3, 2, 2, 5, 6, 9]

In [70]:
  test12("kjaldf" , 123, [3,2,2],[5,6,9])   #not passing because of string

TypeError: can only concatenate list (not "str") to list

In [71]:
def test13(*args):
    return[i for i in args]

In [72]:
test13([1,2,3],[3,2,2],[5,6,9])

[[1, 2, 3], [3, 2, 2], [5, 6, 9]]

In [73]:
def test14(*args):
    l = []
    for i in args:
        if type(i) == list:
            l = l + i
    return l

In [74]:
test14("kjaldf" , 123, [3,2,2],[5,6,9])

[3, 2, 2, 5, 6, 9]

In [75]:
def test15(**kwargs):        #any no. variable can pass
    return kwargs        #only pass key value format

In [76]:
test15(4,65,3)     #because it use as key and value

TypeError: test15() takes 0 positional arguments but 3 were given

In [77]:
test15(a = 8 , b = 6 , c = 5 , d = 70 )   #only pass in key and value format

{'a': 8, 'b': 6, 'c': 5, 'd': 70}

In [78]:
test15(a = 8 , b = True , c = [4,5,6,"manoj"] , d = "jdfjs" )  #convert into dict

{'a': 8, 'b': True, 'c': [4, 5, 6, 'manoj'], 'd': 'jdfjs'}

In [79]:
type(test15())

dict

In [80]:
def test16(*args):
    return args

In [81]:
test16(5,3,6,"manoj",[2,3,5])    #convert into tuple

(5, 3, 6, 'manoj', [2, 3, 5])

In [82]:
type(test16())

tuple

In [71]:
def test17(**kwargs):
    for i in kwargs.items():    #items convert each value in tuple
        if type(i[1])==list:
            if "sudh" in i[1]:
                print("i am able to find your name in data")
                print(i[1])
    return kwargs

In [72]:
test17(b = 6 , c = [5,6,1,3] , d = ["sudh" , "kumar" , 5.67] , n = 6+7j)

i am able to find your name in data
['sudh', 'kumar', 5.67]

{'b': 6, 'c': [5, 6, 1, 3], 'd': ['sudh', 'kumar', 5.67], 'n': (6+7j)}

In [77]:
d = {'b': 6, 'c': [5, 6, 1, 3], 'd': ['sudh', 'kumar', 5.67], 'n': (6+7j)}

In [78]:
d.items()

dict_items([('b', 6), ('c', [5, 6, 1, 3]), ('d', ['sudh', 'kumar', 5.67]), ('n', (6+7j))])

In [90]:
def test18(*args):
    a = {}
    for i in args:
        if type(i) in a:
            a[type(i)].append(i)
        else:
            a[type(i)] = [i]
    return a

In [91]:
test18(12,3,[5,3,5,3],'hi','io',2+4j,True,False,3.5)

{int: [12, 3],
 list: [[5, 3, 5, 3]],
 str: ['hi', 'io'],
 complex: [(2+4j)],
 bool: [True, False],
 float: [3.5]}